{% extends "base.html" %}
{% block title %}
    Авторизация
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {{ user.username }}, вы же уже авторизорваны.
        Впрочем, всегда можно <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/>
    {% else %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}

        <div class="login-page">
            <div class="narrow-form">
                <form class="login-form" method="post" action=""> {% csrf_token %}
                    <dl class="register">
                    </dl>
                    {% for field in form %}
                        <dt>{{ field.label_tag }}</dt>
                        <dd class="clearfix">{{ field }}</dd>
                    {% endfor %}
                    <input type="submit" value="Вход" / class="clearfix">
                    <p class="message"><a href="{% url 'registration_register' %}">Регистрация</a></p>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            document.getElementById('id_username').focus()
        </script>
    {% endif %}
{% endblock %}