{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet" href="/style.css" />
    <title>{% block title %}Лучший сервис в мире {% endblock %}</title>
</head>

<body>
    <div id="header">
        {% block header %}
	        {% if user.is_authenticated %}
	            {% trans "Logged in" %}: {{ user.username }}
	            (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>)
	        {% else %}
	             <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
	        {% endif %}
            <a href="{% url 'video_service:home' %}">{% trans "Home" %}</a>
            <hr />
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>

</html>