{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'video_service:model_form_upload' %}">Загрузить видео</a>
    </li>
  </ul>

  {% if user.is_authenticated %}
  <p>Выберите файл для обработки:</p>
  <ul>
    {% for obj in user.your_documents.all %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
  <p>Ваши запросы:</p>
  <ul>
    {% for obj in user.user_request.all %}
      <li>
        <a href="{% url 'video_service:show_request' obj.name %}">{{ obj.name }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}