{% extends 'base.html' %}
{% load i18n %}
{% load video_service_extras %}

{% block content %}

    {#    <div class="row">#}
    <div class="card">
        <a href="{% url 'video_service:model_form_upload' %}">
            <div class="card-block well">
                <div class="box ">
                    <div class="icon">
                        <div class="image">
                            <i class="glyphicon glyphicon-cloud-upload"></i></div>
                    </div>
                </div>
                <div style="text-align: center; color: black">Загрузить видео</div>
            </div>
        </a>
    </div>
    {% if doc_name %}
        <p>Выберите файл для обработки:</p>
        <ul>
            {% for obj in doc_name %}
                <li>
                    <a href="{% url 'video_service:process' obj %}">{{ obj }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
        {% if req_name %}
            <p>Ваши запросы:</p>
                <div class="bs-example">
                    <div class="panel-group" id="accordion">
                        {% for obj in user.user_request.all %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ obj.id }}">{{ obj.title }}</a>
                                    </h4>
                                </div>
                                <div id="collapse{{ obj.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>{{ obj.description }}</p>
                                        <p>{{ obj.preset }}</p>
                                        <p>{{ obj.format }}</p>
                                        <p>{{ obj.is_finish }}</p>
                                        <p>{{ req_name|index:forloop.counter0 }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        {% endif %}
            </div>
{% endblock %}