{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="row">
        <div class="card">
            <a href="{% url 'video_service:model_form_upload' %}">
                <div class="card-block well">
                    <div class="box ">
                        <div class="icon">
                            <div class="image">
                                <i class="glyphicon glyphicon-cloud-upload"></i></div>
                        </div>
                    </div>
                    <div style="text-align: center; color: black">Загрузить видео</div>
                </div>
            </a>
        </div>
        {% if doc_name %}
            <p>Выберите файл для обработки:</p>
            <ul>
                {% for obj in doc_name %}
                    <li>
                        <a href="{% url 'video_service:process' obj %}">{{ obj }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p>Ваши запросы:</p>
            <ul>
            <div class="bs-example">
                    <div class="panel-group" id="accordion">
                {% for obj in user.user_request.all %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{ obj.name }}</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>DETAILS...</p>
                                </div>
                            </div>
                        </div>

                {% endfor %}
                    </div>
            </div>
            </ul>
        {% endif %}
{% endblock %}