{% extends 'base.html' %}
{% load i18n %}
{% block content %}
            <div class="request-page">
            <div class="form">
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <dl class="register">
                    </dl>
                    {% for field in form %}
                        <dt>{{ field.label_tag }}</dt>
                        <dd class="clearfix">{{ field }}</dd>
                    {% endfor %}
                    <input type="submit" value="Загрузить" / class="clearfix">
                    <button type="submit">Применить</button>
                </form>
            </div>
        </div>
{% endblock %}