{% extends 'base.html' %}
{% load i18n %}
{% block content %}
            <div class="request-page">
{#            <div class="input-group">#}
{#                <div class="form-control">{{ form.title }}</div>#}
{#            </div>#}
            <div class="wide-form">
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <dl class="register">
                    </dl>
                    {% for field in form %}
                        <dt>{{ field.label_tag }}</dt>
                        <dd class="clearfix">{{ field }}</dd>
                    {% endfor %}
                    <input type="submit" value="Обработать" / class="clearfix">
                    </form>
            </div>
        </div>
{% endblock %}